# Node
node_modules
dist
.env
*.env

# JetBrains IDE (WebStorm)
.idea/
*.iml

# VSCode (если вдруг)
.vscode/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
